<div class="header">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom fixed-top">
    <p class="m-2 text-dark text-decoration-none unna-bold">
      Plant Store Inc
    </p>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary unna-regular">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark unna-regular">Features</a></li>
      <li><a href="#" class="nav-link px-2 link-dark unna-regular">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 link-dark unna-regular">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-dark unna-regular">About</a></li>
    </ul>
  </header>
</div>
