<nav class="navbar navbar-expand-md py-3 border-bottom bg-body-tertiary">
  <div class="container-fluid">
    <h4 class="m-2 text-dark text-decoration-none">Plant Store Inc</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link px-2 link-secondary" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 link-dark" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 link-dark" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 link-dark" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 link-dark" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>