<div
  class="hero-container m-0 d-flex flex-column justify-content-center align-items-center"
>
  <div class="hero-content">
    <h1 class="text-light" style="font-size: 4rem">Plant Store Inc</h1>
    <p class="text-light" style="font-size: 1.5rem">
      Your one-stop shop for all things plants
    </p>
    <button class="btn btn-light" style="margin-left: 40%">
      <a class="text-decoration-none" href="#shop_now" style="color: darkgreen"
        >Shop Now</a
      >
    </button>
  </div>
</div>
